name: Deploy to Pages

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.120.4
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3
      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"
      - name: Build
        env:
          TINA_TOKEN: ${{ secrets.TINA_TOKEN }}
          TINA_CLIENT_ID: ${{ secrets.TINA_CLIENT_ID }}
          TINA_INDEXER_TOKEN: ${{ secrets.TINA_INDEXER_TOKEN }}
          TINA_BRANCH: ${{ secrets.TINA_BRANCH }}
        run: |
          npm run tina:build && \
          npm run build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2